In [8]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
# print(df.head(3))

df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

#reading txt file using read_csv
df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')
# print(df_txt.head(5))





#Read specific location (row , column)
# df.iloc[3,1]

#Read specific rows and columns 
# df[['Name', 'Type 1', 'Type 2']].iloc[0:5]

# itterate over rows (usefull for data manipulation)
# for index, row in df.iterrows():
#     print(index, row['Name'])

# df['Name'].iloc[:]

#conditional statements
df.loc[df['Type 1'] == "Fire"][-5:]

       #         Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
730  662  Fletchinder   Fire  Flying  ...       52     84           6      False
731  663   Talonflame   Fire  Flying  ...       69    126           6      False
735  667       Litleo   Fire  Normal  ...       54     72           6      False
736  668       Pyroar   Fire  Normal  ...       66    106           6      False
799  721    Volcanion   Fire   Water  ...       90     70           6       True

[5 rows x 12 columns]

In [ ]:
#Headers
df.columns

In [ ]:
#Read single column (last 5)
df['Name'][-5:]

In [ ]:
#Read multiple columns
df[['Name', 'HP']][0:5]

In [ ]:
#Read single row
df.iloc[1]

In [ ]:
#Read multiple rows
df.iloc[1:8]