In [167]:
#pip install pandas
#read all the comments
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
# print(df.head(3))

df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

#reading txt file using read_csv
df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')
# print(df_txt.head(5))

In [3]:
#Headers
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [135]:
#Read single column (last 5)
df['Name'][-5:]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [5]:
#Read multiple columns
df[['Name', 'HP']][0:5]

                    Name  HP
0              Bulbasaur  45
1                Ivysaur  60
2               Venusaur  80
3  VenusaurMega Venusaur  80
4             Charmander  39

In [6]:
#Read single row
df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [7]:
#Read multiple rows
df.iloc[1:8]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False

In [8]:
#Read specific location [row , column]
df.iloc[3,1]

'VenusaurMega Venusaur'

In [22]:
#Read specific rows and columns 
df[['Name', 'Type 1', 'Type 2']].iloc[0:5]
# df.iloc[0:5,0:4]

   #                   Name Type 1  Type 2
0  1              Bulbasaur  Grass  Poison
1  2                Ivysaur  Grass  Poison
2  3               Venusaur  Grass  Poison
3  3  VenusaurMega Venusaur  Grass  Poison
4  4             Charmander   Fire     NaN

In [25]:
# Itterate over rows (useful for data manipulation)
for index, row in df.iterrows():
    print(index, row['Name'])

# df['Name'].iloc[:]

In [24]:
# Conditional Statements 1 / Basic Filtering

# The main difference Between iloc and loc is..........: 
# loc is Label based
# iloc is Index based

df.loc[df['Type 1'] == "Fire"][-5:]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [27]:
# Find important mathematical information about the data like mean, variance ect
df.describe()

In [31]:
# Sorting
# df.sort_values('Name', ascending=False)
df.sort_values(['Type 1', 'HP'], ascending=[1,0])[0:5] #define true false for both (type 1 = assending, hp = decending)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False

In [176]:
# Changing DataFrame 1

#adding new column named total
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] 


# [:] = all elements or all rows in this case
# adding new column using iloc[for what rows you want to add the column to, for which columns you want to sum (.sum (horizontal))] 

df['Total'] = df.iloc[:, 4:10].sum(axis=1) #axis = 1: Horizontal, axis = 0: vertical
#Hiba ye^^ puch lena agar samaj na aye tou

# df.head(5)

#sort values according to the new column
df.sort_values(['Total'], ascending=False)[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770

In [73]:
# Removing a Column

df = df.drop(columns=['Total'])

df.head(5)

In [177]:
# Rearranging Columns
# df = krna zaroori hy because wapis save krna parta hy dataframe main
# df = df[['#', 'Name', 'Total', 'HP', 'Type 1', 'Type 2']] #very annyoying method but easy to understand

# get columns as a list
cols = list(df.columns.values)
cols #isko print krke dekh lena

#first 4 columns then the last columns then the other columns
df = df[cols[0:4] + cols[-1:] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [178]:
# Save The DataFrame a new file 
df.to_csv('modified_pokemon.csv', index=False) #stop index from repeating 
df.to_excel('modified_pokemon.xlsx', index=False) 
df.to_csv('modified_pokemon.txt', index=False, sep='\t') #add sperator so when reading .txt we can use delimiter to identify columns

In [127]:
# Advanced Filtering 1 (separate conditions with parentheses)

# df.loc[(df['Type 1'] == "Fire") & (df['Type 2'] == "Flying")] #AND
# df.loc[(df['Type 1'] == "Fire") | (df['Type 2'] == "Water")][0:20] #OR
# df.loc[((df['Type 1'] == "Fire") | (df['Type 2'] == "Water")) & (df['HP'] > 80)][0:10] #Both

# for "not/inverse" don't use '!' use '~' instead 
df.loc[~df['Name'].str.contains('Mega')] #all the pokemons that dont have Mega in their name

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [124]:
# Resetting index

df_new = df.loc[(df['Type 1'] == "Fire") & (df['Type 2'] == "Flying")] #AND
df_new = df_new.reset_index(drop = True) #Drop: get rid of old index
df_new

# can also use inplace = True (memory intensive but doesnt need to do df_new = df_new) changes already existing index

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
1,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
4,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
5,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False

In [132]:
#Advanced Filtering 2

#regular expressions
import re

# All pokemons that are neither Fire nor Water
# df.loc[~df['Type 1'].str.contains('Fire|Water', regex=True)] 
#^^ above example case sensitive

# To ignore case
# df.loc[~df['Type 1'].str.contains('fire|water', flags=re.I, regex=True)]


# Pokemon that Starts with Pi

df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] # pi se agay [a-z] koi sa bhi letter ho sakhta hy
# * means 0 or more
# ^ means start of the string

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [181]:
# Changing DataFrame 2

# where Type 1 == Fire change Type 1 to Electric
# df_temp.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Electric'

# Where Name = Mega change it to Hello
# df.loc[df.['Name'].str.contains('Mega'), 'Name'] = "Hello"  

df = pd.read_csv('modified_pokemon.csv')

# Modify Multiple things at the same time
df.loc[df['Total'] > 600, ['Generation', 'Legendary']] = ["Next Gen", 'TEST']
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Next Gen,TEST
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Next Gen,TEST
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Next Gen,TEST
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True