In [33]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
# print(df.head(3))

df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

#reading txt file using read_csv
df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')
# print(df_txt.head(5))

#Headers
# df.columns

#Read single column (last 5)
# df['Name'][-5:]

#Read multiple columns
# df[['Name', 'HP']][0:5]

#Read single row
# df.iloc[1]

#Read multiple rows
# df.iloc[1:8]

#Read specific location (row , column)
# df.iloc[3,1]

#Read specific rows and columns 
df[['Name', 'Type 1', 'Type 2']].iloc[0:5]

                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN